<h1>Catagories</h1>

<table border = 1>
  <tr>
    <th>Title</th>
    <th>No. Of Products</th>
  <tr>
  <% @catagories.each do |catagory| %>
      <td><%= catagory.title %></td>
      <td><%= catagory.products_count %></td>
      <td><%= link_to 'Show', catagory %></td>
      <td><%= link_to 'Edit', edit_catagory_path(catagory) %></td>
      <td><%= link_to 'Destroy', catagory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Catagory', new_catagory_path %>
<br>
<%= link_to 'All Catagories', catagories_path %>