<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br>
  <strong>Email:</strong>
  <%= @user.email %>
  <br>
  <strong>Role:</strong>
  <%= @user.role %>
  <br>
  <strong>City:</strong>
  <%= @user.address.city if @user.address%>
  <br>
 <strong>State:</strong>
  <%= @user.address.state if @user.address%>
  <br>
  <strong>Country:</strong>
  <%= @user.address.country if @user.address%>
  <br>
  <strong>PinCode:</strong>
  <%= @user.address.pincode if @user.address%> 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
